<?xml version="1.0" ?>
<launch>
  <!-- Mode argument to switch between use-case 1 and use-case 2 -->
  <!-- <arg name="mode" default="demo-1" /> -->
  
  <arg name="robot_ip" default="192.168.3.102"/>
  <arg name="arm_id" default="panda" />
  <arg name="transmission" default="position" doc="The type of position control to use (either 'position' or 'effort')" />
  <arg name="use_tls" default="false" />



  <!-- Include the franka_control launch file -->
  <include file="$(find franka_control)/launch/franka_control.launch" pass_all_args="true">
    <arg name="load_gripper" value="true" />
  </include>

  <!-- Controller spawner -->
  <node name="controller_spawner"
        pkg="controller_manager"
        type="spawner"
        respawn="false"
        output="screen"
        args="$(arg transmission)_joint_trajectory_controller">
  </node>

  <!-- Include the panda_moveit_config demo launch file -->
  <include file="$(find panda_moveit_config)/launch/demo.launch" pass_all_args="true">
    <arg name="moveit_controller_manager" value="ros_control" />
    <arg name="use_rviz" value="true" />
    <arg name="pipeline" value="ompl" />
  </include>

  <!-- Panda control node with mode selection -->
  <!-- <node name="panda_control"
        pkg="panda_base"
        type="panda_control_colli_obj.py"
        respawn="false"
        output="screen">
    <param name="mode" value="$(arg mode)"/>
  </node> -->

</launch>
